<html lang="en">
<head>
  {% load static %}
  {% load bootstrap %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'img/cart.png' %}">

  {% block title %}
    <title>Registros</title>
  {% endblock title %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <style type="text/css">
    /* Move down content because we have a fixed navbar that is 50px tall */
    body {
      padding-top: 0;
      padding-bottom: 40px;
      color: #5a5a5a;
    }
  </style>

    {% block css %}{% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>

</head>
<body>
    
{% if object_list %}

<div class="container">
    <br>
    <p class="h3">Registros em aberto</p>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="text-left">Usuario</th>
			<th class="text-left">Data</th>
			<th class="text-left">Excel</th>
			<th class="text-left">Pasta Destino</th>
			<th class="text-center">Pasta Origem</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for r in object_list %}
          <tr>
            <th scope="row">{{ r.user_exe }}</th>
            <td class="text-left">{{ r.date }} </td>
            <td class="text-left">{{ r.excel_file }}</td>
            <td class="text-left">{{ r.path_to_manage }}</td>    
            <td class="text-left">{{ r.path_files }}</td>
            <td class="text-left">{{ r.status }}</td>
            <td class="text=center"><a href="{% url 'manager:pdfReader' r.id %}">{{r.id}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% else %}

    <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}

</body>
</html>